*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 0%;
}

.left{
    background-color: rgb(196, 192, 192);
    float: left; 
    width:27%;
    position: fixed;
    margin-top: 1.8cm;
}
.content{
    background-color: rgb(231, 226, 226); 
    float: left;
    width: 73%;
    height: auto;
    float: right;
    margin-top: 1.8cm;
}
#u1{
    padding: 4px;
    border: 2px black solid;
    margin: 5px; 
     
}
#l1{
    display: block;
    border:2px black solid ;
    height: 1.3cm;
    margin: 7px;
    list-style: none;
    text-align: center;
    padding: 0.15cm;
    font-size: large;
}
#l11{
    display: block;
    border:2px black solid ;
    height: 1.3cm;
    margin: 7px;
    list-style: none;
    text-align: center;
    padding: 0.15cm;
    font-size: large;
    border-radius: 15px;


}
#d1{
    font-size:large;
    display: block;
    padding: 1cm;
    margin-top: 2cm;
    margin-left: 1cm;
}
.d2{
    font-size: large;
    display: block;
    padding: 1cm;
    margin-top: 0;
    margin-left: 0.5cm;
    padding-top: 0cm;
    text-align: justify;
}
.d3{
    width:15cm;
    height:10cm;
    margin:1cm;
    padding: 5px;
    margin-left: 2.2cm;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: black;
    overflow: auto; 
}
.d{
    font-size:large;
    display: block;
    padding: 0cm;
    margin: 0%;
    margin-left: 2cm;

}
.u2{
    font-size: large;
    display: block;
    padding: 1cm;
    margin-top: 0;
    margin-left: 1.5cm;
    padding-top: 0cm;
    text-align: justify;
    list-style: square;
}
.d4{
    width:15cm;
    height:auto;
    margin:1cm;
    padding: 5px;
    margin-left: 2.2cm;
    margin-bottom: 0;
}